body {
  background: #eee;
  font-family: sans-serif;
  font-weight: 900;
}

.card {
  background: white;
  width: 450px;
  border: 8px solid white; 
  margin-top: 50px;
  margin-left: 350px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: auto auto 8px;
}

.content {
  background: #e3f4ff;
  padding: 20px;
  border-bottom: 8px solid white;
}

.button-container {
  background: #e3f4ff;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  width: 150px;
  font-weight: 900;
  padding: 15px;
  border: 1px solid #eee;
  margin: auto;
  display: block;
}